---
title: "Chinatown"
permalink: /chinatown/
---
<h2>Chinatown Revitalization</h2>

A century ago, Portland had the second largest Chinese population next to San Francisco. It once counted for 10% of population in Portland. Chinatown has been not only one of the prominent landmarks but a legacy for this city. Chinatown had its up and down in the past, but never lost its hope. With the new generation of Chinese immigrants moving into this city in the last 30 years, the Chinese community has pledged to work together to help revitalize Chinatown, to make it great again.
<br>
<br>
<a href="https://pdxchinese.org/resources/benefits_resources/chinese-american/">History of Chinese Americans in Oregon and the US</a>
<br>
<a href="https://pdxchinese.org/oralhistory/">Oral History: Real People, Real Stories</a>
<br>
<a href="https://youtu.be/iyCBI1LUrWI">The Creation of Lan Su Chinese Garden</a>

<h2>Portland Chinatown Cultural Celebrations</h2>

{% for gallery in site.chinatown_newyear %}
  <a href="{{ gallery.url }}"><h3>{{ gallery.title }}</h3></a>
{% endfor %}

<h2>Portland Chinatown Performance Photo Galleries</h2>

{% for gallery in site.chinatown_gallery %}
  <a href="{{ gallery.url }}"><h3>{{ gallery.title }}</h3></a>
{% endfor %}

<h2>Community Engagement in Chinatown</h2>

{% for gallery in site.chinatown_engage %}
  <a href="{{ gallery.url }}"><h3>{{ gallery.title }}</h3></a>
{% endfor %}

<h2>Wong Laundry Legacy in Chinatown</h2>

{% for gallery in site.chinatown_wonglaundry %}
  <a href="{{ gallery.url }}"><h3>{{ gallery.title }}</h3></a>
{% endfor %}
